body, p, h1, h2, h3, h4, h5, h6, span, a {
    font-family: 'Open Sans', 'lucida grande', 'Segoe UI', sans-serif;
}
/*html {*/
    /*font-family: 'Open Sans', sans-serif;*/
/*}*/

/*.section {*/
    /*background-size: cover;*/
    /*margin: 0;*/
/*}*/

/*.landing {*/
    /*text-align: center;*/
/*}*/

/*.landing .lead {*/
    /*font-size: 32px;*/
    /*text-shadow: 2px 2px 8px #000000;*/
    /*font-family: Lobster, cursive;*/
    /*color: white;*/
/*}*/

.login-panel {
    margin-top: 25%;
}

.intro-header {
    min-height: 100vh;
    background-size: cover;
    text-align: center;
}

.intro-message h3 {
    font-family: Lobster, cursive;
    font-size: 48px;
    font-weight: normal;
}

.img-quick-start {
    height: 128px;
    margin-left: auto;
    margin-right: auto;
}

.quick-start-heading {
    text-align: center;
}

.section-heading {
    line-height: 1.4;
    font-size: 32px;
    font-weight: 300;
}

.section-p {
    line-height: 36px;
    font-size: 21px;
    font-weight: 100;
}

.quick-start-title {
    text-align: center;
    margin-bottom: 64px;
    font-size: 40px;
}

.quick-start-p {
    text-align: center;
}

.btn-signup {
    border-radius: 0;
    min-width: 33%;
    font-weight: bold;
    border: 0;
    margin-top: 32px;
    background-color: #dd4444;
}

.btn-signup:hover, .btn-signup:active, .btn-signup:active:hover, .btn-signup:focus, .btn-signup:enabled {
    background-color: #dd3535;
}
