{% extends 'layouts/appBase.html.twig' %}
{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-responsive img-feed-photo" src="photos/{{ feed.feedId }}" alt="photo">
            </div>
            <div class="col-lg-8">
                <h2>{{ feed.title|e }}</h2>
                <p>{{ feed.description|e }}</p>
            </div>
        </div>
        <div class="col-lg-6 col-lg-push-6">
            <iframe
                    width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCXDY4ENKPH-q2R4QEC6uiTOiTiIhH1RP4&q={{ address.firstLine ~ ' ' ~ address.secondLine ~ ', ' ~ suburb.name|escape('url') }}" allowfullscreen>
            </iframe>
        </div>
    </div>
{% endblock %}
