{% extends 'layouts/appBase.html.twig' %}
{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-responsive img-feed-photo" src="photos/{{ feed.feedId }}" alt="photo">
            </div>
            <div class="col-lg-8">
                <h2>{{ feed.title|e }}</h2>
                <p>{{ feed.description|e }}</p>
            </div>
        </div>
    </div>
{% endblock %}
