{% extends 'layouts/base.html.twig' %}
{% block includes %}
    <link rel="stylesheet" href="css/landing-page.css">
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="intro-header" style="background-image: url(image/sharing-food.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message" style="padding-top: 0">
                        <h1><img src="image/logo.png" height="350px" alt="FedUp"></h1>
                        <h3>Put an end to food waste and join the food-sharing revolution!</h3>
                        <hr class="intro-divider">
                        <a class="btn btn-default btn-lg btn-primary btn-signup" href="/signup">Sign up now for free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">FedUp with wasting food?</h2>
                    <p class="section-p">FedUp is here for you!</p>
                    <p class="section-p">We are an online platform for finding and sharing food in your local area. We aim to combat food waste by providing a place for everyone to advertise and find free food!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <h1 class="quick-start-title">Sharing food</h1>
                <div class="col-lg-4">
                    <img class="img-responsive img-quick-start" src="image/camera.svg" alt="">
                    <h2 class="section-heading quick-start-heading">Snap</h2>
                    <p class="section-p quick-start-p">Take a picture of your unwanted food</p>
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive img-quick-start" src="image/phone.png" alt="">
                    <h2 class="section-heading quick-start-heading">Post</h2>
                    <p class="section-p quick-start-p">Post an ad for your Feed</p>
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive img-quick-start" src="image/tick.png" alt="">
                    <h2 class="section-heading quick-start-heading">Accept</h2>
                    <p class="section-p quick-start-p">Accept invitation requests to share the location of your Feed</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-push-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Low on cash?</h2>
                    <p class="section-p">You can still get FedUp on a budget.</p>
                    <p class="section-p">FedUp connects you with people in your local community looking to get rid of their unwanted or excess food.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <h1 class="quick-start-title">Finding a Feed</h1>
                <div class="col-lg-4">
                    <img class="img-responsive img-quick-start" src="image/search.png" alt="">
                    <h2 class="section-heading quick-start-heading">Browse</h2>
                    <p class="section-p quick-start-p">Search for Feeds in your area</p>
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive img-quick-start" src="image/mail.png" alt="">
                    <h2 class="section-heading quick-start-heading">Message</h2>
                    <p class="section-p quick-start-p">Send an invitation request to the organiser</p>
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive img-quick-start" src="image/nav.svg" alt="">
                    <h2 class="section-heading quick-start-heading">Pick-Up</h2>
                    <p class="section-p quick-start-p">Navigate to the Feed's location to pick up your food</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
