{% extends 'layouts/base.html.twig' %}
{% block body %}
    <div class = "jumbotron">
        <div class = "container">
            <h1>FedUp</h1>
            <p>Put an end to food waste and join the food-sharing revolution!</p>
            <p><a class = "btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div>
    </div>
{% endblock %}
